
/*GENERAL*/
html
{
    margin:0;
    padding: 0;
    font-family: 'Pathway Gothic One', sans-serif;
}

body
{
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    }

main
{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    flex-direction: column;
    min-height: 80vh;
    width:90vw;
    margin:10px;
}

h1
{
    display: flex;
    font-size: 40px;
    justify-content: center;
    text-transform: uppercase;
}

h2
{
    text-transform: uppercase;
}

a{
    color:black;
    text-decoration: none;
}

form
{
    text-align: center;
    margin:0;
}


/*HEADER*/

header
{
    display: flex;
    width:100vw;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(235, 157, 157)
}

header nav
{
    display: flex;
    height:8vh;
    align-items: center;
}

header #menu2
{
    background-color: white;
    width:100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

header ul
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-inline-start: 0;
}

header li
{
    padding: 0 15px;
}

header li a
{
    font-size: 25px;
    text-decoration: none;
}

header li a:hover
{
    color: peachpuff;
}

#banner
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo-top{
    max-width:150px;
    max-height:150px;
    margin: auto;
}


/*FOOTER*/


footer
{
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(235, 157, 157);
    color:black;
}

footer nav
{
    display: flex;
    height:15vh;
    align-items: center;
}

footer ul
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-inline-start: 0;
}

footer li
{
    padding: 0 15px;
}

footer li a
{
    font-size: 25px;
    color:black;
    text-decoration: none;
}

footer li a:hover
{
    color: peachpuff;
}

/*INDEX*/


.panneau-jaune
{
    margin:15px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-items: center;
    align-content: center;
    align-items: center;
    min-height: 45vh;
    background-color: rgb(248, 230, 186) ;
    margin-bottom:5vh;
}

.panneau-rose
{
    margin:15px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-items: center;
    align-content: center;
    align-items: center;
    min-height: 45vh;
    background-color: rgb(235, 157, 157) ;
    margin-bottom:5vh;
}

/*INSCRIPTION/CONNEXION*/

.formulaire
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    max-width:25vw;
    margin: auto;
    padding:15px;
}

.formulaire label
{
    display: flex;
    flex-direction:column;
    align-items:center;
    align-content:center;
    justify-items:center;
    max-width: 20vw;
    font-size: 15px;
    text-shadow: 4px 4px 12px rgba(253, 255, 147, 0.795);
}

.formulaire input
{
    display: flex;
    flex-direction:column;
    align-items:center;
    align-content:center;
    justify-items:center;
    font-size: 15px;
    max-width: 20vw;

    color: rgb(22, 22, 22);
    text-shadow: 4px 4px 12px rgba(253, 255, 147, 0.795);
}


/*PROFIL / ADMIN */

.panneau
{
    margin:15px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    min-height: 45vh;
    background-color: rgb(248, 230, 186) ;
}

.bloc
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    min-width: 30vw;
    max-width:60vw;
    margin:20px;
    padding:15px;
}

/*TABLEAUX*/

table {
    border-collapse: collapse;
    vertical-align: center;
  }
  
  th, td {
    border: 1px solid black;
  }

  th, td {
    padding: 15px;
    text-align: center;
  }

 .actions th:last-child, .actions td:last-child {
    border: none;
  }

  .actions form
  {
      margin:auto;
  }

  /*PRODUIT*/

  #produit_img
  {
     width: 250px;
     height: 250px;
  }